<div class="dashboard">
	<div class="filters">
		<h5>Questions</h5>
		<ul class="nav">
			<li><a href="#"><i class="fa fa-question-circle"></i> All questions</a></li>
			<li><a href="#"><i class="fa fa-globe"></i> Published questions</a></li>
			<li><a href="#"><i class="fa fa-pencil-square-o"></i> Draft questions</a></li>
		</ul>

		<h5>Categories</h5>
		<ul class="nav">
			<li><a href="#"><i class="fa fa-folder"></i> Reparaties</a></li>
			<li><a href="#"><i class="fa fa-folder"></i> Huurincasso</a></li>
			<li><a href="#"><i class="fa fa-folder"></i> Betalingsregeling</a></li>
		</ul>
	</div>
	<div class="questions">
		<h1 class="page-header no-offset-top">Dashboard</h1>
		<ul class="nav">
			<li>
				<div class="list-item">
					<i class="fa fa-square-o"></i>
					<a href="#"><i class="fa question-circle"></i> Hoe kan ik mijn huur betalen?</a>
				</div>
			</li>
			<li><a href="#"><i class="fa fa-question-circle"></i> Welke maatregelen kan ik nemen o....</a></li>
			<li><a href="#"><i class="fa fa-question-circle"></i> Wat is een verhuurdersverklaring?</a></li>
			<li><a href="#"><i class="fa fa-question-circle"></i> De opleverklachten van mijn nieuwe wo...</a></li>
		</ul>
	</div>
</div>