.inset { padding: 28px; }
.inset-xxsm { padding: 6px; }
.inset-xsm { padding: 12px; }
.inset-sm { padding: 24px; }
.inset-lg { padding: 50px; }
.inset-xlg { padding: 70px; }
.no-inset { padding: 0 !important; }

.inset-top { padding-top: 28px; }
.inset-top-xxsm { padding-top: 6px; }
.inset-top-xsm { padding-top: 12px; }
.inset-top-sm { padding-top: 24px; }
.inset-top-lg { padding-top: 50px; }
.inset-top-xlg { padding-top: 70px; }
.inset-top-xxlg { padding-top: 90px; }
.no-inset-top { padding-top: 0 !important; }

.inset-left { padding-left: 28px; }
.inset-left-xxsm { padding-left: 6px; }
.inset-left-xsm { padding-left: 12px; }
.inset-left-sm { padding-left: 24px; }
.inset-left-lg { padding-left: 50px; }
.inset-left-xlg { padding-left: 70px; }
.no-inset-left { padding-left: 0 !important; }

.inset-bottom { padding-bottom: 28px; }
.inset-bottom-xxsm { padding-bottom: 6px; }
.inset-bottom-xsm { padding-bottom: 12px; }
.inset-bottom-sm { padding-bottom: 24px; }
.inset-bottom-lg { padding-bottom: 50px; }
.inset-bottom-xlg { padding-bottom: 70px; }
.no-inset-bottom { padding-bottom: 0 !important; }

.inset-right { padding-right: 28px; }
.inset-right-xxsm { padding-right: 6px; }
.inset-right-xsm { padding-right: 12px; }
.inset-right-sm { padding-right: 24px; }
.inset-right-lg { padding-right: 50px; }
.inset-right-xlg { padding-right: 70px; }
.no-inset-right { padding-right: 0 !important; }