.jumbotron {
    padding-top: 100px;
    padding-bottom: 0;
    color: black;
    background: #f0f0f0; /* Old browsers */
    
    h1 {
        color: $gray-dark;
        font-weight: 300;
    }
    p {
        color: $gray-default;   
    }
    .container {
        .eye-catcher {
            margin-top: 50px;
        }
    }
}