.offset { margin: 35px; }
.offset-xxsm { margin: 6px; }
.offset-xsm { margin: 12px; }
.offset-sm { margin: 24px; }
.offset-md { margin: 42px; }
.offset-lg { margin: 50px; }
.offset-xlg { margin: 70px; }
.offset-xxlg { margin: 90px; }
.no-offset { margin: 0 !important; }

.offset-top { margin-top: 35px; }
.offset-top-xxsm { margin-top: 6px; }
.offset-top-xsm { margin-top: 12px; }
.offset-top-sm { margin-top: 24px; }
.offset-top-md { margin-top: 42px; }
.offset-top-lg { margin-top: 50px; }
.offset-top-xlg { margin-top: 70px; }
.no-offset-top { margin-top: 0 !important; }
.neg-offset-top-xxsm { margin-top: -6px; }
.neg-offset-top-xsm { margin-top: -12px; }

.offset-left { margin-left: 35px; }
.offset-left-xxsm { margin-left: 6px; }
.offset-left-xsm { margin-left: 12px; }
.offset-left-sm { margin-left: 24px; }
.offset-left-md { margin-left: 42px; }
.offset-left-lg { margin-left: 50px; }
.offset-left-xlg { margin-left: 70px; }
.no-offset-left { margin-left: 0 !important; }
.neg-offset-left-xsm { margin-left: -6px; }

.offset-bottom { margin-bottom: 35px; }
.offset-bottom-xxsm { margin-bottom: 6px; }
.offset-bottom-xsm { margin-bottom: 12px; }
.offset-bottom-sm { margin-bottom: 24px; }
.offset-bottom-md { margin-bottom: 42px; }
.offset-bottom-lg { margin-bottom: 50px; }
.offset-bottom-xlg { margin-bottom: 70px; }
.no-offset-bottom { margin-bottom: 0 !important; }

.offset-right { margin-right: 35px; }
.offset-right-xxsm { margin-right: 6px; }
.offset-right-xsm { margin-right: 12px; }
.offset-right-sm { margin-right: 24px; }
.offset-right-md { margin-right: 42px; }
.offset-right-lg { margin-right: 50px; }
.offset-right-xlg { margin-right: 70px; }
.no-offset-right { margin-right: 0 !important; }