$primary-color: #e33a50;
$secondary-color: #2C2C34;
$tertiary-color: #1b4f65;

// #264653
// #a8d26e

/*
palette 2
#FF570A
#FFFFFF
#D72638
#420039
#12355B
*/

$gray-light: #f0f0f0;
$gray-default: #999999;
$gray-dark: #333333;

$text-color: #333333;
$font-size-base: 12px;
$font-family-base: 'Open Sans', sans-serif;