{% include header.html %}    

<div class="jumbotron">
    <div class="container text-center">
        <h1>FAQ as a Service</h1>
        <p>Easy to use, fast to setup and flexible for the future.<br />Start making your customers happy now!</p>
        <p><a class="btn btn-primary btn-lg raised text-uppercase" href="#" role="button">Sign up free &raquo;</a></p>
        <img src="/images/admin-preview.png" alt="Website" class="eye-catcher offset-top-md" />
    </div>
</div>

{% include footer.html %}  